<%- partial ('../common/admin_nav.ejs') %>

<div class="container" id="page-item_manager">
  <h2>Danh sách Item<span class="pull-right">
      <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#additemModal"><i class="fa fa-plus fa-lg"></i> Thêm Item</a></span>
  </h2>

  <table class="table table-bordered" id="manage_item">
    <thead>
    <tr>
      <th>ID</th>
      <th>Tên Item</th>
      <th>Giá mua</th>
      <th>Giá bán</th>
      <th>Icon</th>
      <th>Link</th>
      <th>Xử lý</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(allItem, function(item) { %>
    <tr class="tr_<%= item.id %>">
      <td class="item_id"><%= item.id %></td>
      <td class="item_name"><%= item.name %></td>
      <td class="item_price_buy"><%= item.price_buy %></td>
      <td class="item_price_sell"><%= item.price_sell %></td>
      <td class="item_icon col-md-1"><%= item.icon %></td>
      <td class="item_link col-md-1"><%= item.link %></td>
      <td class="item_submit col-md-2 text-center">
        <a class="btn btn-primary btn-sm edit_item"><i class="fa fa-pencil-square-o fa-lg"></i> Sửa</a>
        <a class="btn btn-danger btn-sm del_item"><i class="fa fa-trash-o fa-lg"></i> Xóa</a>
      </td>
    </tr>
    <% }) %>
    </tbody>
  </table>
</div>


<!-- Modal Add Item-->
<div class="modal fade" id="additemModal" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Thêm Item Mới</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="addItemForm">
          <div class="form-group">
            <label class="control-label col-sm-4" for="name">Tên Item:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="name" placeholder="Nhập tên item">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="icon">Icon:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="icon" placeholder="ví dụ : BTC">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="link">Link:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="link" placeholder="ví dụ : btc">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="price_buy">Giá Mua:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="price_buy" placeholder="Nhập giá mua">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="price_sell">Giá Bán:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="price_sell" placeholder="Nhập giá bán">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
              <button type="submit" class="btn btn-success">Đồng Ý</button>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>
<!--// ENd Modal-->

<!-- Modal Edit Item-->
<div class="modal fade" id="editItemModal" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sửa Item</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="editItemForm">
          <input type="text" class="sr-only form-control" name="id" value="">
          <div class="form-group">
            <label class="control-label col-sm-4" for="name">Tên Item:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="name" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="icon">Icon:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="icon" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="link">Link:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="link" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="price_buy">Giá Mua:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="price_buy" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="price_sell">Giá Bán:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="price_sell" value="">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12 text-right">
              <button type="submit" class="btn btn-success">Sửa Item</button>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>

<!--// Modal Del Item-->
<div class="modal fade" id="delItemModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">XÓA ITEM</h4>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc là muốn xóa Item <span class="item_name"></span> không?</p>
        <form class="form-horizontal" id="delItemForm">
          <input type="text" class="sr-only" name="id" value="">
          <div class="form-group">
            <div class="col-sm-12 text-right">
              <button type="submit" class="btn btn-success">Xóa Item</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
