<%- partial ('common/navbar.ejs') %>
<div class="jumbotron text-center">
  <h1>Mua Bán & Trao Đổi Tiền Ảo</h1>
  <p>Trang giao dịch trực tiếp các loại đồng tiền ảo , thanh toán nhanh chóng trong vòng 7 nốt nhạc .</p>
</div>
<div class="container-fluid" id="main-page">
  <div class="content">

      <%- partial ('templates/left.ejs') %>

      <div class="tab-content">
          <%- partial ('templates/buy.ejs') %>
          <%- partial ('templates/sell.ejs') %>
      </div>

      <%- partial ('templates/right.ejs') %>

  </div>
</div>

<%- partial ('common/footer.ejs') %>
