<%- partial ('common/navbar.ejs') %>

<div class="container" id="main-page">
  <div class="row content">

      <%- partial ('templates/left.ejs') %>

      <div class="tab-content">
          <%- partial ('templates/buy.ejs') %>
          <%- partial ('templates/sell.ejs') %>

      </div>

  </div>
</div>

<%- partial ('common/footer.ejs') %>
