<div class="col-sm-3 sidenav" id="mua_ban">

  <h4>Bạn muốn <span class="title_ban">BÁN </span></h4>
  <ul class="list-group">
    <% _.each(foundItemsell, function(itemsell) { %>
    <a href="/sell/<%= itemsell.link %>"><li class="list-group-item exchange-active">
        <img src="/images/<%= itemsell.link %>.ico"> <%= itemsell.name %>

        <input type="text" class="sr-only" id="giaban" value="<%= itemsell.price_sell %>">
        <span class="badge" id="<%= itemsell.link %>-price-sell">
        <%= itemsell.price_sell.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></li>
    </a>
    <% }) %>
  </ul>

  <h4>Bạn muốn <span class="title_mua">MUA</span></h4></h4>
  <ul class="list-group">
    <% _.each(foundItembuy, function(itembuy) { %>
    <a href="/buy/<%= itembuy.link %>"><li class="list-group-item exchange-active">
        <img src="/images/<%= itembuy.link %>.ico"> <%= itembuy.name %>

        <input type="text" class="sr-only" id="giamua" value="<%= itembuy.price_buy %>">
        <span class="badge" id="<%= itembuy.link %>-price-buy">
        <%= itembuy.price_buy.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></li>
    </a>
    <% }) %>
  </ul>

</div>
